<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">
    <img class="logo" alt="Angular Redux Phonebook" src="/assets/ng-redux-logo.png">
    <span>
      Contacts
    </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" (click)="navbarCollapsed = !navbarCollapsed"
    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <div class="w-100 p-t-10">
    <app-contact-search></app-contact-search>
  </div> -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="navbarCollapsed">
    <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
      <li routerLinkActive="active" class="nav-item m-r-10">
        <a routerLink="/contacts" class="nav-link">
          <i class="fa fa-list"></i>
          Contacts
        </a>
      </li>
      <li routerLinkActive="active" class="nav-item m-r-10">
        <a routerLink="/add" class="nav-link">
          <i class="fa fa-plus"></i>
          Add
        </a>
      </li>
      <li class="nav-item">
        <div ngbDropdown>
          <button class="btn" id="debugDropDownMenu" ngbDropdownToggle>Debug Settings</button>
          <div ngbDropdownMenu aria-labelledby="debugDropDownMenu">
            <a class="dropdown-item" *ngIf="!(debugMode | async)" (click)="toggleDebugMode()">Show Debug View</a>
            <a class="dropdown-item" *ngIf="(debugMode | async)" (click)="toggleDebugMode()">Hide Debug View</a>
            <div role="dropdown-divider" class="divider"></div>
            <a class="dropdown-item" *ngIf="(sampleDataLoaded | async)" (click)="removeSampleData()">Remove Sample Data</a>
            <a class="dropdown-item" *ngIf="!(sampleDataLoaded | async)" (click)="reloadSampleData()">Reload Sample Data</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
