@large: ~"only screen and (min-width: 960px)";
@medium: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@small: ~"only screen and (max-width: 719px)";
.contact-card {
    .info {
        color: #000;
        min-height: 140px;
        padding-left: 32px;
        border: 1px black;
        h4 {
            padding-top: 10px;
            margin-bottom: 5px;
        }
    }
}

.rnd-btn-link {
    background: #EFF0F4;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #7A7676;
}

.list-group-item {
    padding: 0em;
}

.avatar-container {
    padding-right: 15px;
}

.details-card {
    padding: 10px;
    box-sizing: border-box;
    .inner {
        background-color: #f7f7f7;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        padding: 10px;
        h4 {
            padding: 0 !important;
            margin: 0 !important;
            font-weight: 300;
        }
        hr {
            margin: 5px 0px 5px 0px;
        }
    }
    .details-list {
        list-style: none;
        padding-left: 10px;
        .badge {
            width: 100px;
        }
    }
}

// .searchbar {
//   position: fixed;
//   z-index: 999;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }

// .contacts-list {
//   padding-top: 100px;
// }
