<div class="container">
  <div class="searchbar card">
    <div class="card-body">
      <app-contact-search></app-contact-search>
    </div>
  </div>
  <div class="contacts-list">
    <div class="row" *ngFor="let contact of (displayContacts | async)">
      <div class="col-12 p-t-10">
        <div class="card">
          <div class="card-body">

            <!-- Contact Card Content -->
            <div class="contact-card">
              <div class="avatar-container float-left">
                <a (click)="edit(contact.id)" class="clickable">
                  <img class="avatar thumb-lg rounded-circle bx-s" [src]="contact.avatarUrl" alt="">
                </a>
              </div>
              <div class="float-right btn-group-sm">
                <a (click)="edit(contact.id)" class="clickable btn btn-success tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                  <i class="fa fa-pencil"></i>
                </a>
                <a (click)="remove(contact)" class="clickable btn btn-danger tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                  <i class="fa fa-close"></i>
                </a>
              </div>

              <div class="info">
                <h3>{{contact.name}}</h3>
                <!-- Maximized View -->
                <div class="row" *ngIf="(expandedContactsIds | async).indexOf(contact.id) > -1">
                  <div class='details-card col-sm-6' *ngIf="contact.phoneNumbers && contact.phoneNumbers.length > 0">
                    <div class='inner'>
                      <h4>Phone Numbers</h4>
                      <hr>
                      <ul class="details-list">
                        <li *ngFor="let phoneNumber of contact.phoneNumbers">
                          <span class="badge badge-pill badge-secondary PhoneNumberType-{{PhoneNumberType[phoneNumber.type]}}">{{PhoneNumberType[phoneNumber.type]}} </span>
                          <a href="tel:{{phoneNumber.number}}">{{phoneNumber.number}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>


                  <div class='details-card col-sm-6' *ngIf="contact.emailAddresses && contact.emailAddresses.length > 0">
                    <div class='inner'>
                      <h4>Email Addresses</h4>
                      <hr>
                      <ul class="details-list">
                        <li *ngFor="let emailAddress of contact.emailAddresses">
                          <span class="badge badge-pill badge-secondary EmailAddressType-{{EmailAddressType[emailAddress.type]}}">{{EmailAddressType[emailAddress.type]}} </span>
                          <a href="mailto:{{emailAddress.email}}">{{emailAddress.email}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class='details-card col-sm-6' *ngIf="contact.organizations && contact.organizations.length > 0">
                    <div class='inner'>
                      <h4>Organizations</h4>
                      <hr>
                      <ul class="details-list">
                        <li *ngFor="let organization of contact.organizations">
                          <span>{{organization.name}} - {{organization.position}}</span>
                        </li>
                      </ul>
                    </div>
                  </div>

                  <div class='details-card col-sm-6' *ngIf="contact.addresses && contact.addresses.length > 0">
                    <div class='inner'>
                      <h4>Addresses</h4>
                      <hr>
                      <ul class="details-list">
                        <li *ngFor="let address of contact.addresses">
                          <p>
                            <span *ngIf="address.line1">{{address.line1}}, </span>
                            <span *ngIf="address.line2">{{address.line2}}, </span>
                            <span *ngIf="address.postcode">{{address.postcode}}, </span>
                            <span *ngIf="address.city">{{address.city}}, </span>
                            <span *ngIf="address.state">{{address.state}}, </span>
                            <span *ngIf="address.country">{{address.country}}</span>
                          </p>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class='details-card col-sm-6' *ngIf="contact.facebook || contact.twitter || contact.linkedIn || contact.skype">
                    <div class='inner'>
                      <h4>Social Media</h4>
                      <hr>
                      <ul class="details-list">
                        <li *ngIf="contact.facebook" class="p-t-10">
                          <a href="https://www.facebook.com/{{contact.facebook}}" target="_blank">
                            <i class="fa fa-facebook rnd-btn-link"></i>
                            <span>https://www.facebook.com/{{contact.facebook}}</span>
                          </a>
                        </li>
                        <li *ngIf="contact.twitter" class="p-t-10">
                          <a href="https://www.twitter.com/{{contact.twitter}}" target="_blank">
                            <i class="fa fa-twitter rnd-btn-link"></i>
                            <span>https://www.twitter.com/{{contact.twitter}}</span>
                          </a>
                        </li>
                        <li *ngIf="contact.linkedIn" class="p-t-10">
                          <a class="" href="https://www.linkedin.com/in/{{contact.linkedIn}}" target="_blank">
                            <i class="fa fa-linkedin rnd-btn-link"></i>
                            <span>https://www.linkedin.com/in/{{contact.linkedIn}}</span>
                          </a>
                        </li>
                        <li *ngIf="contact.skype" class="p-t-10">
                          <a [href]="sanitizeUrl('skype:'+contact.skype)">
                            <i class="fa fa-skype rnd-btn-link"></i>
                            <span>contact.skype</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class='details-card col-sm-6' *ngIf="contact.note">
                    <div class='inner'>
                      <h4>Note</h4>
                      <hr>
                      <span>{{contact.note}}</span>
                    </div>
                  </div>
                </div>
                <!-- Minimized View -->
                <div *ngIf="!((expandedContactsIds | async).indexOf(contact.id) > -1)">
                  <div class="row p-t-10">
                    <div class="col-lg-6 p-t-10" *ngIf="contact.phoneNumbers && contact.phoneNumbers.length > 0">
                      <a class="row" href="tel:{{contact.phoneNumbers[0].number}}">
                        <div class="col-2 my-auto">
                          <i class="fa fa-phone rnd-btn-link" ngbTooltip="Phone"></i>
                        </div>
                        <div class="col-10 my-auto">
                          <span>
                            {{contact.phoneNumbers[0].number}}
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-6 p-t-10" *ngIf="contact.emailAddresses && contact.emailAddresses.length > 0">
                      <a class="row" href="mailto:{{contact.emailAddresses[0].email}}">
                        <div class="col-2 my-auto">
                          <i class="fa fa-envelope rnd-btn-link" ngbTooltip="Email"></i>
                        </div>
                        <div class="col-10 my-auto">
                          <span>
                            {{contact.emailAddresses[0].email}}
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-6 p-t-10" *ngIf="contact.addresses && contact.addresses.length > 0">
                      <a class="row" [href]="'http://maps.google.com/?q=:'+getFullAddress(contact.addresses[0])" target="_blank">
                        <div class="col-2 my-auto">
                          <i class="fa fa-location-arrow rnd-btn-link" ngbTooltip="Address"></i>
                        </div>
                        <div class="col-10 my-auto">
                          <span>
                            {{getFullAddress(contact.addresses[0])}}
                          </span>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-6 row p-t-10" *ngIf="contact.organizations && contact.organizations.length > 0">
                      <div class="col-2 my-auto">
                        <i class="fa fa-building rnd-btn-link" ngbTooltip="Organization"></i>
                      </div>
                      <div class="col-10 my-auto">
                        <span>{{contact.organizations[0].name}}</span>
                      </div>
                    </div>
                    <div class="col-12">
                      <hr *ngIf="contact.facebook || contact.twitter || contact.linkedIn || contact.skype">
                      <!-- Social Links -->
                      <ul class="list-inline p-b-10">
                        <li *ngIf="contact.facebook" ngbTooltip="Facebook" class="list-inline-item">
                          <a class="rnd-btn-link" href="https://www.facebook.com/{{contact.facebook}}" target="_blank">
                            <i class="fa fa-facebook"></i>
                          </a>
                        </li>
                        <li *ngIf="contact.twitter" ngbTooltip="Twitter" class="list-inline-item">
                          <a class="rnd-btn-link" href="https://www.twitter.com/{{contact.twitter}}" target="_blank">
                            <i class="fa fa-twitter"></i>
                          </a>
                        </li>
                        <li *ngIf="contact.linkedIn" ngbTooltip="LinkedIn" class="list-inline-item">
                          <a class="rnd-btn-link" href="https://www.linkedin.com/in/{{contact.linkedIn}}" target="_blank">
                            <i class="fa fa-linkedin"></i>
                          </a>
                        </li>
                        <li *ngIf="contact.skype" ngbTooltip="Skype" class="list-inline-item">
                          <a class="rnd-btn-link" [href]="sanitizeUrl('skype:'+contact.skype)">
                            <i class="fa fa-skype"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="float-right">
                <span class="clickable" *ngIf="!((expandedContactsIds | async).indexOf(contact.id) > -1)" (click)="expand(contact.id)">Show More
                  <i class="fa fa-chevron-down"></i>
                </span>
                <span class="clickable" *ngIf="(expandedContactsIds | async).indexOf(contact.id) > -1" (click)="collapse(contact.id)">See Less
                  <i class="fa fa-chevron-up"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
