<!-- Search Panel -->
<div>
  <div class="input-group">
    <input type="text" id="search" name="search" class="form-control" placeholder="Search" [(ngModel)]="searchQuery" (keyup)="updateSearch()">
    <span class="input-group-btn">
      <button (click)="clearSearch()" type="button" class="btn btn-primary">
        <i class="fa fa-remove"></i>
      </button>
    </span>
  </div>
  <div class="my-auto p-t-10">
    <span>Displaying {{(displayContacts | async).length}} of {{(contacts | async).length}} Contacts</span>
  </div>
</div>
