<div class="container">
  <div class="row">
    <div class="col-12">
      <form [formGroup]="form" novalidate (ngSubmit)="save(form.value)">
        <div class="card">
          <div class="card-header">
            <strong *ngIf="!editMode">Add Contact</strong>
            <strong *ngIf="editMode">Edit Contact</strong>
          </div>
          <div class="card-body">

            <!-- Centered Avatar Container -->
            <div class="container">
              <div class="row justify-content-center align-items-center avatar-container">
                <!-- Avatar -->
                <img class="thumb-xl rounded-circle" [src]="avatarUrl" alt="Photo">
              </div>
            </div>
            <div class="form-group row" [ngClass]="{'has-danger': !form.controls['avatarUrl'].valid && form.controls['avatarUrl'].touched}">
              <label for="name" class="col-md-2 col-form-label">Avatar Url</label>
              <div class="col-md-10">
                <input type="text" name="avatarUrl" id="avatarUrl" class="form-control" formControlName="avatarUrl" spellcheck="false" autocomplete="on"
                  autocorrect="off" autocapitalize="off">
                <div class="form-control-feedback" *ngIf="form.controls['avatarUrl'].hasError('validateImageUrlAsyncInvalid') && form.controls['avatarUrl'].touched">
                  Please enter a valid Image URL.
                </div>
              </div>
            </div>
            <!-- validateImageUrlAsyncInvalid -->
            <hr>

            <!-- Name -->
            <div class="form-group row" [ngClass]="{'has-danger': !form.controls['name'].valid && form.controls['name'].touched}">
              <label for="name" class="col-md-2 col-form-label">Name</label>
              <div class="col-md-10">
                <input type="text" class="form-control" formControlName="name" [ngClass]="{'form-control-danger': !form.controls['name'].valid && form.controls['name'].touched}">
                <div class="form-control-feedback" *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched">
                  Name is required.
                </div>
              </div>
            </div>

            <!-- PhoneNumbers -->
            <div class="form-group row">
              <label for="phoneNumbers" class="col-md-2 col-form-label">Phone</label>
              <div class="col-md-10" formArrayName="phoneNumbers">

                <div class="margin-on-first">
                  <button (click)="addPhoneNumber()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add a Phone Number</span>
                  </button>
                </div>

                <div class="form-group form-array-item" *ngFor="let phoneNumber of getFormArray('phoneNumbers').controls; let i = index">
                  <div class="row" [formGroupName]="i" [ngClass]="{'has-danger': !phoneNumber.valid && phoneNumber.touched}">
                    <div class="input-group">
                      <div class="input-group-addon input-group-addon-left">
                        <select class="form-control" formControlName="type">
                          <option *ngFor="let key of phoneNumberTypeKeys" [value]="key" [label]="PhoneNumberType[key]">{{PhoneNumberType[key]}}</option>
                        </select>
                      </div>
                      <input id="phoneNumbers[{{i}}].number" class="form-control" type="text" placeholder="+27 (72) 459 1800" name="phoneNumbers[{{i}}].number"
                        formControlName="number" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off"
                      />
                      <div class="input-group-addon input-group-addon-right">
                        <button (click)="removePhoneNumber(i)" type="button" class="form-control">
                          <i class="fa fa-remove"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-control-feedback" *ngIf="phoneNumber.controls['number'].hasError('required') && phoneNumber.controls['number'].touched">
                    Phone Number is required
                  </div>
                </div>
              </div>
            </div>

            <!-- Email Addresses -->
            <div class="form-group row">
              <label for="emailAddresses" class="col-md-2 col-form-label">Email Addresses</label>
              <div class="col-md-10" formArrayName="emailAddresses">
                <div class="margin-on-first">
                  <button (click)="addEmailAddress()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add an Email Address</span>
                  </button>
                </div>
                <div class="form-group form-array-item" *ngFor="let emailAddress of getFormArray('emailAddresses').controls; let i = index">
                  <div class="row" [formGroupName]="i" [ngClass]="{'has-danger': !emailAddress.valid && emailAddress.touched}">
                    <div class="input-group">
                      <div class="input-group-addon input-group-addon-left">
                        <select class="form-control" formControlName="type">
                          <option *ngFor="let key of emailAddressTypeKeys" [value]="key" [label]="EmailAddressType[key]">{{EmailAddressType[key]}}</option>
                        </select>
                      </div>
                      <input id="emailAddresses[{{i}}].email" formControlName="email" class="form-control" type="text" placeholder="me@example.com"
                        name="emailAddresses[{{i}}].email" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off"
                      />
                      <div class="input-group-addon input-group-addon-right">
                        <button (click)="removeEmailAddress(i)" type="button" class="form-control">
                          <i class="fa fa-remove"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-control-feedback" *ngIf="emailAddress.controls['email'].hasError('email') && emailAddress.controls['email'].touched">
                    Email Address is invalid
                  </div>
                </div>
              </div>
            </div>

            <!-- Organizations -->
            <div class="form-group row">
              <label for="organizations" class="col-md-2 col-form-label">Organizations</label>
              <div class="col-md-10" formArrayName="organizations">
                <div class="margin-on-first">
                  <button (click)="addOrganization()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add an Organization</span>
                  </button>
                </div>
                <div class="form-array-item" *ngFor="let organization of getFormArray('organizations').controls; let i = index">

                  <div class="card">
                    <div class="card-body">
                      <div class="row remove-icon-row">
                        <div class="col">
                          <div class="float-right">
                            <label class="fa fa-remove" (click)="removeOrganization(i)"></label>
                          </div>
                        </div>
                      </div>
                      <div [formGroupName]="i">

                        <div class="form-group row">


                          <!-- Name -->
                          <div class="col-md-2 col-form-label">
                            <label for="organizations[{{i}}].name">Name</label>
                          </div>
                          <div class="col-md-10" [ngClass]="{'has-danger': !organization.get('name').valid && organization.get('name').touched}">
                            <input type="text" name="organizations[{{i}}].name" id="organizations[{{i}}].name" class="form-control" formControlName="name"
                              spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                            <div class="form-control-feedback" *ngIf="organization.get('name').hasError('required') && organization.touched">
                              Name is required
                            </div>
                          </div>

                        </div>
                        <div class="form-group row">
                          <!-- Position -->
                          <div class="col-md-2 col-form-label">
                            <label for="organizations[{{i}}].position">Position</label>
                          </div>
                          <div class="col-md-10" [ngClass]="{'has-danger': !organization.get('position').valid && organization.controls['position'].touched}">
                            <input type="text" name="organizations[{{i}}].position" id="organizations[{{i}}].position" class="form-control" formControlName="position"
                              spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Addresses -->
            <div class="form-group row">
              <label for="addresses" class="col-md-2 col-form-label">Addresses</label>
              <div class="col-md-10" formArrayName="addresses">
                <div class="margin-on-first">
                  <button (click)="addAddress()" type="button" class="btn btn-success btn-sm btn-add">
                    <i class="fa fa-plus"></i>
                    <span> Add an Address</span>
                  </button>
                </div>
                <div class="form-array-item" *ngFor="let address of getFormArray('addresses').controls; let i = index">

                  <div class="card">
                    <div class="card-body">
                      <div class="row remove-icon-row">
                        <div class="col">
                          <div class="float-right">
                            <label class="fa fa-remove" (click)="removeAddress(i)"></label>
                          </div>
                        </div>
                      </div>
                      <div [formGroupName]="i">

                        <!-- Line 1 -->
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="addresses[{{i}}].line1">Line 1</label>
                          <div class="col-md-10" [ngClass]="{'has-danger': !address.controls['line1'].valid && address.controls['line1'].touched}">
                            <input id="addresses[{{i}}].line1" name="addresses[{{i}}].line1" formControlName="line1" type="text" placeholder="Address Line 1"
                              class="form-control" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                            <div class="form-control-feedback" *ngIf="address.controls['line1'].hasError('required') && address.controls['line1'].touched">
                              Address Line 1 is required
                            </div>
                          </div>
                        </div>

                        <!-- Note: Validation logic left out for feilds below which haven't got validators attached -->
                        <!-- Line 2 -->
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="addresses[{{i}}].line2">Line 2</label>
                          <div class="col-md-10">
                            <input type="text" placeholder="Address Line 2" class="form-control" spellcheck="false" autocomplete="on" autocorrect="off"
                              autocapitalize="off">
                          </div>
                        </div>

                        <!-- City -->
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="addresses[{{i}}].city">City</label>
                          <div class="col-md-10">
                            <input id="addresses[{{i}}].city" name="addresses[{{i}}].city" formControlName="city" type="text" placeholder="City" class="form-control"
                              spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                          </div>
                        </div>

                        <div class="form-group row">
                          <!-- State -->
                          <label class="col-md-2 col-form-label" for="addresses[{{i}}].state">State</label>
                          <div class="col-lg-4">
                            <input id="addresses[{{i}}].state" name="addresses[{{i}}].state" formControlName="state" type="text" placeholder="State"
                              class="form-control" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                          </div>

                          <!-- Postcode -->
                          <label class="col-md-2 col-form-label" for="addresses[{{i}}].postcode">Postcode</label>
                          <div class="col-lg-4">
                            <input id="addresses[{{i}}].postcode" name="addresses[{{i}}].postcode" formControlName="postcode" type="text" placeholder="Post Code"
                              class="form-control" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                          </div>
                        </div>

                        <!-- City -->
                        <div class="form-group row">
                          <label class="col-md-2 col-form-label" for="addresses[{{i}}].country">Country</label>
                          <div class="col-md-10">
                            <input id="addresses[{{i}}].country" name="addresses[{{i}}].country" formControlName="country" type="text" placeholder="Country"
                              class="form-control" spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Note -->
            <div class="form-group row">
              <label for="note" class="col-md-2 col-form-label">Note</label>
              <div class="col-md-10">

                <div *ngIf="form.controls['note'] == null" class="margin-on-first">
                  <button (click)="addNote()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add a Note</span>
                  </button>
                </div>

                <div *ngIf="form.controls['note'] != null" class="form-group" class="card">
                  <div class="card-body">
                    <div class="row remove-icon-row">
                      <div class="col">
                        <div class="float-right">
                          <label class="fa fa-remove" (click)="removeNote()"></label>
                        </div>
                      </div>
                    </div>
                    <div [ngClass]="{'has-danger': !form.controls['note'].valid && form.controls['note'].touched}">
                      <textarea name="note" id="note" class="form-control" formControlName="note"></textarea>
                      <div class="form-control-feedback" *ngIf="form.controls['note'].hasError('required') && form.controls['note'].touched">
                        Note is required
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <!-- Skype -->
            <div class="form-group row">
              <label for="skype" class="col-md-2 col-form-label">Skype</label>
              <div class="col-md-10">

                <div *ngIf="form.controls['skype'] == null" class="margin-on-first">
                  <button (click)="addSkype()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add a Skype Username</span>
                  </button>
                </div>

                <div *ngIf="form.controls['skype'] != null" class="form-group">

                  <div class="input-group">
                    <input id="skype" class="form-control" type="text" placeholder="Skype Username" name="skype" formControlName="skype" spellcheck="false"
                      autocomplete="on" autocorrect="off" autocapitalize="off" />
                    <div class="input-group-addon input-group-addon-right">
                      <button (click)="removeSkype()" type="button" class="form-control">
                        <i class="fa fa-remove"></i>
                      </button>
                    </div>
                  </div>

                  <div class="form-control-feedback" *ngIf="form.controls['skype'].hasError('required') && form.controls['skype'].touched">
                    Skype is required
                  </div>
                </div>
              </div>
            </div>

            <!-- Facebook -->
            <div class="form-group row">
              <label for="facebook" class="col-md-2 col-form-label">Facebook</label>
              <div class="col-md-10">

                <div *ngIf="form.controls['facebook'] == null" class="margin-on-first">
                  <button (click)="addFacebook()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add a Facebook Page</span>
                  </button>
                </div>

                <div *ngIf="form.controls['facebook'] != null" class="form-group">

                  <div class="input-group">
                    <input id="facebook" class="form-control" type="text" placeholder="Relative Facebook Url" name="facebook" formControlName="facebook"
                      spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off" />
                    <div class="input-group-addon input-group-addon-right">
                      <button (click)="removeFacebook()" type="button" class="form-control">
                        <i class="fa fa-remove"></i>
                      </button>
                    </div>
                  </div>

                  <div class="form-control-feedback" *ngIf="form.controls['facebook'].hasError('required') && form.controls['facebook'].touched">
                    Facebook is required
                  </div>
                </div>
              </div>
            </div>

            <!-- LinkedIn -->
            <div class="form-group row">
              <label for="linkedIn" class="col-md-2 col-form-label">LinkedIn</label>
              <div class="col-md-10">

                <div *ngIf="form.controls['linkedIn'] == null" class="margin-on-first">
                  <button (click)="addLinkedIn()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add a LinkedIn Page</span>
                  </button>
                </div>

                <div *ngIf="form.controls['linkedIn'] != null" class="form-group">

                  <div class="input-group">
                    <input id="linkedIn" class="form-control" type="text" placeholder="Relative LinkedIn Url" name="linkedIn" formControlName="linkedIn"
                      spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off" />
                    <div class="input-group-addon input-group-addon-right">
                      <button (click)="removeLinkedIn()" type="button" class="form-control">
                        <i class="fa fa-remove"></i>
                      </button>
                    </div>
                  </div>

                  <div class="form-control-feedback" *ngIf="form.controls['linkedIn'].hasError('required') && form.controls['linkedIn'].touched">
                    LinkedIn is required
                  </div>
                </div>
              </div>
            </div>

            <!-- Twitter -->
            <div class="form-group row">
              <label for="twitter" class="col-md-2 col-form-label">Twitter</label>
              <div class="col-md-10">

                <div *ngIf="form.controls['twitter'] == null" class="margin-on-first">
                  <button (click)="addTwitter()" type="button" class="btn btn-success btn-sm btn-add">
                    <span>
                      <i class="fa fa-plus"></i> Add a Twitter Page</span>
                  </button>
                </div>

                <div *ngIf="form.controls['twitter'] != null" class="form-group">

                  <div class="input-group">
                    <input id="twitter" class="form-control" type="text" placeholder="Relative Twitter Url" name="twitter" formControlName="twitter"
                      spellcheck="false" autocomplete="on" autocorrect="off" autocapitalize="off" />
                    <div class="input-group-addon input-group-addon-right">
                      <button (click)="removeTwitter()" type="button" class="form-control">
                        <i class="fa fa-remove"></i>
                      </button>
                    </div>
                  </div>

                  <div class="form-control-feedback" *ngIf="form.controls['twitter'].hasError('required') && form.controls['twitter'].touched">
                    Twitter is required
                  </div>
                </div>
              </div>
            </div>



          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-2">
              </div>
              <div class="col-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
                <a routerLink="/contacts" class="btn btn-default">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="clearfix"></div>

    <div class="col-12">
      <div class="card" *ngIf="(debugMode | async)">
        <div class="card-header">
          <h5>Form Debug View</h5>
        </div>
        <div class="card-body">
          <div>Form Debug Details:</div>
          <pre>Is form valid? {{form.valid | json}}</pre>
          <pre>Form Value: <br>{{form.value | json}}</pre>
        </div>
      </div>
    </div>

  </div>
</div>
