.list-group-header {
    background-color: #f5f5f5;
}

.input-group-addon {
    margin: 0;
    padding: 0;
    border: none;
    button {
        min-width: 2rem;
    }
    select {
        min-width: 8rem;
    }
}

.input-group-addon-left>.form-control {
    border-radius: .4rem 0 0 .4rem;
    border-right: none;
    height: 38px;
}

.input-group-addon-right {
    &>.form-control {
        border-radius: 0 .4rem .4rem 0;
        border-left: none;
        height: 38px;
    }
}

.margin-on-first+div {
    margin-top: 15px;
}

.btn-add {
    width: 33%;
    min-width: 180px;
    i {
        float: left;
        line-height: 1.5em; //margin-top: .25em;
    } // span {
    //     float: right;
    // }
}

.avatar-container {
    padding-bottom: .5em;
}

.form-control-feedback {
    color: red;
    font-size: .8em;
}

.card {
    margin-bottom: 15px;
}

.remove-icon-row {
    margin-bottom: 15px;
}

.form-array-item {
    .input-group {
        padding-left: 15px;
        padding-right: 15px;
    }
}
