<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>State Debug View</h5>
    </div>
    <div class="card-body">
      <span>Overview: </span>
      <pre>Number Of Contacts: {{(contacts | async).length}}</pre>
      <pre *ngIf="(lastUpdate | async) != null">State Last Updated: {{( lastUpdate | async ) }}</pre>
      <pre *ngIf="(lastUpdate | async) == null">State Last Updated: Never</pre>

      <span>Search Query:</span>
      <pre>{{(searchQuery | async) | json}}</pre>

      <span>Expanded Contacts:</span>
      <pre><code>Contacts: <br>{{(expandedContactsIds | async) | json}}</code></pre>

      <span>Contacts List:</span>
      <pre><code>Contacts: <br>{{(contacts | async) | json}}</code></pre>

      <span>Displayed Contacts:</span>
      <pre><code>Contacts: <br>{{(contacts | async) | json}}</code></pre>
    </div>
  </div>
</div>
