/* You can add global styles to this file, and also import other style files */

body {
    background-color: #edf0f0;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.has-danger {
    textarea,
    input {
        border-color: red;
    }
}

.form-control-feedback {
    position: relative;
    display: inline;
}

@large: ~"only screen and (min-width: 960px)";
@medium: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@small: ~"only screen and (max-width: 719px)";
@media @large {
    .thumb-lg {
        max-width: 128px;
        max-height: 128px;
    }
    .thumb-xl {
        max-width: 256px;
        max-height: 256px;
    }
}

@media @medium {
    .thumb-lg {
        max-width: 96px;
        max-height: 96px;
    }
    .thumb-xl {
        max-width: 192px;
        max-height: 192px;
    }
}

@media @small {
    .thumb-lg {
        max-width: 64px;
        max-height: 64px;
    }
    .thumb-xl {
        max-width: 128px;
        max-height: 128px;
    }
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-l-10 {
    padding-left: 10 !important;
}

.p-r-10 {
    padding-right: 10 !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}
